{% extends "reader/base.html" %}
{% block content %}
<article class="media content-section">
<div class="media-body">
<div class="article-metadata">
<a class="mr-2" href="#">"Pranav"</a>
<small class="text-muted">"4th May, 2022"</small>
</div>
<h1><a class="article-title" href="#">About Page</a></h2>
<p class="article-content">
Speed Reader was created as a web application for lazy readers such
as myself who struggles with pushing through pages and pages of
text in online articles. This app simplifies the reading process by
showing you chunks of phrases in series from the article that you want
to read. This continoous stream of flashing words is easily registered
by our eyes simply by staring at a fixed area, significantly reducing
your reading time. Just paste the link of the website you want to read
and you are good to go!
Have fun reading! 😄
</p>
</div>
</article>

{% endblock content %}

